@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
body{
 background: rgb(240,183,161); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,183,161,1)), color-stop(50%,rgba(140,51,16,1)), color-stop(51%,rgba(117,34,1,1)), color-stop(100%,rgba(191,110,78,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-family: Sigmar One;
}
p{
  color: #00FF00;
  font-size: 14px;
}
h2{
  color: #00FF00;
}
#input-1{
  font-size: 30px;
  height: 38px;
  width: 65%%;
}
h1{
 color: #00FFFF;
 text-align: center;
 font-size: 50px;
 text-shadow: 5px, 5px, #000000;
 text-stroke-color: black;
}
/*Hide other slides to start*/
#slide-2, #slide-3, #slide-4, #slide-5{
  display: none;
}

.slide{
  margin: 0;
  padding: 20px 100px;
  width: 100%;
}

/*Final slide styling*/
#slide-3{
  font-size: 30px;
}
/*This style will apply to any image inside the #slide-3 div*/
#slide-3 img{
  border: 10px inset silver;
  display: block;
  max-width: 300px;
}
label{
 color: #00FF00;
 font-weight: bold;
 width: 150px;
 font-size: 12px;
}

